<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.processingDate}} </td>
      </ng-container>
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>ocation
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionAmount}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Balance After">
      <th mat-header-cell *matHeaderCellDef> Balance After </th>
      <td mat-cell *matCellDef="let element"> {{element.endingBalance}} </td>
    </ng-container>

    <ng-container matColumnDef="Balance Before">
        <th mat-header-cell *matHeaderCellDef> Balance Before </th>
        <td mat-cell *matCellDef="let element"> {{element.startingBalance}} </td>
      </ng-container>
      <ng-container matColumnDef="Vendor">
        <th mat-header-cell *matHeaderCellDef> Vendor </th>
        <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
      </ng-container>

      <ng-container matColumnDef="Rules Broken">
        <th mat-header-cell *matHeaderCellDef> Rules Broken</th>
        <td mat-cell *matCellDef="let element"> {{element.transactionRulesBroken}} </td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element"> {{element.typeOfTransaction}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>